.metric-container {
    padding: 16px;
}

#metric-current-value {
    text-align: start;
    margin: 0;
    color: #000a38;
    font-size: 5vw;
}

#metric-delta-icon {
    display: inline-block;
    line-height: 24px;
    vertical-align: text-top;
}

#metric-delta {
    font-weight: 0;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 1.5px;
    display: inline-block;
}

#metric-goal {
    color: #ffffff;
    background-color: #605E80;
    text-align: end;
    padding: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    display: inline-block;

}

#metric-name {
    font-weight: 0;
    line-height: 30px;
    font-size: 24px;
    color: #FFB900;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 1024px) {
    .App {
      grid-template-columns: repeat(2, minmax(0, 1fr) );
    }

    #metric-name {
        line-height: 24px;
        font-size: 18px;
    }

    #metric-delta {
        line-height: 24px;
        font-size: 18px;
    }
}