#metric-current-value-info {
    text-align: center;
    color: #000a38;;
    font-size: 12vw;
}

@media only screen and (max-width: 568px) {
    #metric-current-value-info {
        font-size: 20vh;
    }
  }
